body{
    background-color: aquamarine;
    background-image: url(https://images.unsplash.com/photo-1681365072037-82ef9a39c98f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=901&q=80);
background-repeat: no-repeat;
background-size: cover;}
label{
    text-transform: capitalize;
    color:crimson
}
button{
    background-color: chartreuse;
    color:rosybrown;
    border-radius: 8px;
    cursor: pointer;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
    position:relative;
    left:32%;

}
.heading_1{
    background-color: red;
    width:300px;
    padding:16px;
    border: 8px solid yellow;
}
.input_container{
    padding:12px;
    width:50%;
    background-color: brown;
    border-bottom-left-radius:10px;
}